body {
    background:pink;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.assignment {
    display: flex;
    padding: 10px;
    background: peachpuff;
    margin: 10px;
    margin-bottom: 30px;
    box-shadow: 5px 10px palevioletred;
}

.assignment img {
    width: 280px;
    padding: 10px;
    background: pink;
    margin: 10px;
}

h1 {
    color:plum;
    text-align: center;
}

.assignment a:hover {
    color: palevioletred;
}